@model ProyectoEasyTicket.Models.Ticket
<h2>Confirmar Clave del Ticket</h2>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Evento)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Evento)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Fecha)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Fecha)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Lugar)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Lugar)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ButacaSeccion)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ButacaSeccion)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Precio)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Precio)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Telefono)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Telefono)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Vendido)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Vendido)
    </dd>
</dl>
<div class="row">
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <div class="alert alert-danger">
                <ul class="mb-0">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </div>
        }
        <form asp-action="ConfirmarClave2" method="post">
            <div class="form-group">
                <label for="clave">Ingrese la clave del ticket</label>
                <input type="password" id="clave" name="clave" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Confirmar</button>
            <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
        </form>
    </div>
